<!-- Page Content -->
<div class="content">





    <div class="container-fluid ">


        <section class="section  bg-default bgw p40">
            <div class="container ">
                <div class="row align-items-center padgap">

                    <div class="col-lg-10 col-md-10 m-auto text-center">
                        <h2>Oral Self Assessment</h2>

                        <p class="fcs lio">Assess your oral health from the comfort of home by taking a brief online oral assessment test. See the impact of your
                        lifestyle, medical conditions, and your past dental history on the overall health of our mouth.</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 colstep">
                       <div class="stepsdiv">
                        <div>
                        <img src="assets/img/oralself/img1.svg" class="oralimg" alt="Oralimg">
                       </div>
                         <ul class="progressbar">
                            <li class="active">Oral Hygiene</li>
                            <li>Dental Condition</li>
                            <li>Habit History</li>
                            
                         </ul>
                         <div class="questiondiv">

                            <form >
                           <div >
                            <h5 class="q1">Q1. When do you normally brush your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio1" value="a">
                                <label class="form-check-label" for="radio1">
                                    Once a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio2" value="b">
                                <label class="form-check-label" for="radio2">
                                    Twice a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio3" value="c">
                                <label class="form-check-label" for="radio3">
                                    More than 2 times a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline activeborder">
                                <input class="form-check-input" type="radio" name="queastion1"  id="radio4" value="d" checked>
                                <label class="form-check-label" for="radio4">
                                    Occasionally
                                </label>
                            </div>
                       
                            <!-- q1 end -->
                           
                           
                            <h5 class="q2">Q.2 How long do you normally take to brush your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="donot" value="a">
                                <label class="form-check-label" for="donot">
                                    Don’t know
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="about30" value="b">
                                <label class="form-check-label" for="about30">
                                    About 30 seconds
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3"  id="about1" value="c">
                                <label class="form-check-label" for="about1">
                                    About 1 minute
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4"  id="about2" value="">
                                <label class="form-check-label" for="about2">
                                    About 2 mins
                                </label>
                            </div>
                           
                            <!-- q2 end -->


                            <h5 class="q2">Q.3 How often do you floss your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Never" value="a">
                                <label class="form-check-label" for="Never">
                                    Never
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Often" value="b">
                                <label class="form-check-label" for="Often">
                                    Often -
                                    not regularly
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Regularly1" value="c">
                                <label class="form-check-label" for="Regularly1">
                                    Once a day - Regularly
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Regularly2" value="">
                                <label class="form-check-label" for="Regularly2">
                                    Twice a day - regularly
                                </label>
                            </div>
                            
                            <!-- q3 end -->

                            <h5 class="q2">Q.4 When was the last time you visited a dentist?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="Within" value="a">
                                <label class="form-check-label" for="Within">
                                    Within Last Year
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="Last" value="b">
                                <label class="form-check-label" for="Last">
                                    Last 1-3 years
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="years3" value="c">
                                <label class="form-check-label" for="years3">
                                    3+ years
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="dentist" value="">
                                <label class="form-check-label" for="dentist">
                                    Never I don’t visit the dentist
                                </label>
                            </div>
                            
                            <!-- q4 end -->

                        </div>
                        <!-- step 1 div end -->




                        
                        


                            </form>

                         </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>

     

        <section class="section section-lg bg-image-21">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2>Get a Free Consultation</h2>
                        <p class="gc">Let our team handle all your dental healthcare issues.
                            Call now to get a free consultation from our expert advisors on below numbers.</p>

                        <a class="wow  text-xxl font-weight-bold" href="tel:#">
                            <h4> +91 9899799981 <span class="dd">|</span> +91 9899799982</h4>

                        </a>
                        <div class="row">
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s"
                                href="javascript:void(0);">Request a Callback</a>
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad kkall animate__delay-5s 5s"
                                routerLink="/online-consultation" [queryParams]="{limit: 10, skip: 0 }">Book An
                                Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>

</div>
<!-- /Page Content -->